ul {
  list-style-type: none; }

.container {
  margin-top: 50px; }

.accordian {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  border: 2px solid #2DC5D8; }

ul {
  margin: 0;
  padding: 0; }

li {
  width: 600px; }

.normalBtn {
  border-radius: 0;
  outline: none;
  border-color: transparent;
  width: 600px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: thin;
  text-align: left;
  background-color: #2DC5D8; }

.collapseBtn {
  transition: color 1s;
  background-color: #33D9EF; }

.normalPara {
  margin: 0;
  padding-left: 5px;
  width: 100%;
  height: 100px;
  font-family: Helvetica;
  font-size: 15px;
  color: #BCC0C1; }

.collapsePara {
  height: 0;
  transition: height 1s;
  overflow: hidden; }
