ul {
list-style-type: none;
}

.container {
    text-align: center;

}

.accordian {
  
  margin: 0;
  width: 600px;

  border: 2px solid #2DC5D8;
}

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: 600px;
  } 


.normalBtn {
  border-box: none;
  border-radius: 0;
  width: 600px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: thin;
  
  background-color: #2DC5D8;
}

.collapseBtn {
  transition: color 1s;
  background-color: #33D9EF;
}

.normalPara {
  margin: 0;
  width: 100%;
  text-align: left;
  // padding: 5px;
  height: 100px;
}  

.collapsePara{
  height: 0;
  transition: height 1s;
  overflow: hidden;
}

